ul {
  margin: 0;
  list-style: none;
}

.green {
  background-color: rgb(82, 186, 82);
}

.orange {
  background-color: rgb(250, 163, 33);
}

.red {
  background-color: rgb(244, 70, 70);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding-bottom: 1rem;
  background-color: white;
}

button {
  margin: 0.5em;
  z-index: 100;
  color: white;
  background-color: rgb(71, 92, 159);
  padding: 0.8em 1.2em;
  border-radius: 0.4em;
  border: 0;
  cursor: pointer;
}

button:hover {
  background-color: rgb(90, 130, 198);
}

button:active {
  background-color: rgb(38, 54, 115);
}

button > svg {
  /* icons */
  margin: 0;
  margin-right: 0.3em;
  transform: translateY(2px);
}

select {
  padding: 0.4em;
  border-radius: 0.4em;
}

.circle-container {
  width: 10%;
  flex-shrink: 1;
}

.circle {
  height: 30px;
  width: 30px;

  border-radius: 50%;
  margin-left: 2rem;
}
