ul {
  margin: 0;
  list-style: none;
}

:root {
  --green: rgb(82, 186, 82);
  --green-light: rgb(121, 210, 89);
  --green-dark: rgb(57, 149, 71);
  --orange: rgb(250, 163, 33);
  --red: rgb(244, 70, 70);
  --blue: rgb(71, 92, 159);
  --blue-light: rgb(90, 130, 198);
  --blue-light-light: rgb(177, 197, 231);
  --blue-dark: rgb(38, 54, 115);
}

.green {
  background-color: var(--green);
}

.orange {
  background-color: var(--orange);
}

.red {
  background-color: var(--red);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding-bottom: 1rem;
  background-color: white;
}

button {
  margin: 0.5em;
  z-index: 100;
  color: white;
  background-color: var(--blue);
  padding: 0.8em 1.2em;
  border-radius: 0.4em;
  border: 0;
  cursor: pointer;
}

button:hover {
  background-color: var(--blue-light);
}

button:active {
  background-color: var(--blue-dark);
}

.btn-outline {
  /* border: 1px solid var(--blue); */
  background-color: white;
  color: var(--blue);
}

.btn-outline:hover {
  outline: 1px solid var(--blue);
  background-color: white;
}

.btn-outline:active {
  outline: 1px solid var(--blue);
  background-color: var(--blue-light-light);
}

.btn-green {
  background-color: var(--green);
}

.btn-green:hover {
  background-color: var(--green-light);
}

.btn-green:active {
  background-color: var(--green-dark);
}

button > svg {
  /* icons */
  margin: 0;
  margin-right: 0.3em;
  transform: translateY(2px);
}

select {
  padding: 0.4em;
  border-radius: 0.4em;
}

.circle-container {
  width: 10%;
  flex-shrink: 1;
}

.circle {
  height: 30px;
  width: 30px;

  border-radius: 50%;
  margin-left: 2rem;
}

.leaflet-control {
  z-index: 0 !important;
}
.leaflet-pane {
  z-index: 0 !important;
}
.leaflet-top,
.leaflet-bottom {
  z-index: 0 !important;
}
