ul {
  margin: 0;
  list-style: none;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  margin: 0.5em;
  z-index: 100;
  background-color: orange;
  padding: 0.8em 1.2em;
  border-radius: 0.5em;
  border: 0;
  cursor: pointer;
}

button:hover {
  background-color: rgb(255, 188, 64);
}

button:active {
  background-color: rgb(238, 145, 39);
}
