.warning-container {
  display: flex;
  max-height: 35vh;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  overflow-y: auto;
}

.warning-item {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin-left: 2em;
  margin-right: 2rem;
}

.warning-item-container:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.sensor-warnings {
  display: flex;
  align-items: center;
}

.warning-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
  border-radius: 10px;
  background-color: #dddddd;
}
